In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\avish\anaconda3\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [5]:
# create engine
# Connecting to local sql server and databsase
engine = create_engine('mysql+pymysql://root:password@localhost:3306/world')

In [6]:
conn = engine.connect()

In [7]:
# Reading dataset
df = pd.read_sql("SELECT * FROM world.`vgsales-2016`", conn)

In [8]:
# Printing dataset
print(df.head())

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii             2006        Sports  Nintendo
1         Super Mario Bros.      NES             1985      Platform  Nintendo
2            Mario Kart Wii      Wii             2008        Racing  Nintendo
3         Wii Sports Resort      Wii             2009        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53           76
1     29.08      3.58      6.81         0.77         40.24
2     15.68     12.76      3.79         3.29         35.52           82
3     15.61     10.93      3.28         2.95         32.77           80
4     11.27      8.89     10.22         1.00         31.37

  Critic_Count User_Score User_Count Developer Rating
0           51          8        322  Nintendo      E
1
2           73        8.3        709  Nintendo      E
3           73          8        192  Nintendo      E
4

In [9]:
# Getting sales pre and post 2010 in pything using where, group by and case in python
avg_sales_segregation = pd.read_sql('''
            select 2005_segregation,avg(Global_Sales) as avg_sales 
            from (select Global_Sales,
                  case when Year_of_Release < 2005 then 'Pre_2005' else 'Post_2005'
                  end as 2005_Segregation from world.`vgsales-2016`) as sub_query 
            group by 2005_segregation
            order by 1 desc''', conn);
print(avg_sales_segregation)

  2005_Segregation  avg_sales
0         Pre_2005   0.650039
1        Post_2005   0.484040

Average sales before 2005 were higher than sales after 2005

In [12]:
#Modifying the table to add the column that labels record before 2005 as pre_2005 and after 2005 as post_2005
Modified_vg_sales = pd.read_sql('''select *,
                  case when Year_of_Release < 2005 then 'Pre_2005' else 'Post_2005'
                  end as 2005_Segregation from world.`vgsales-2016`''', conn);
print(Modified_vg_sales.head())

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii             2006        Sports  Nintendo
1         Super Mario Bros.      NES             1985      Platform  Nintendo
2            Mario Kart Wii      Wii             2008        Racing  Nintendo
3         Wii Sports Resort      Wii             2009        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53           76
1     29.08      3.58      6.81         0.77         40.24
2     15.68     12.76      3.79         3.29         35.52           82
3     15.61     10.93      3.28         2.95         32.77           80
4     11.27      8.89     10.22         1.00         31.37

  Critic_Count User_Score User_Count Developer Rating 2005_Segregation
0           51          8        322  Nintendo      E        Post_2005
1                                                             Pre_2005
2           73        8.3        709  Nintendo      E        Post_2005
3           73          8        192  Nintendo      E        Post_2005
4                                                             Pre_2005